
	  .container {
	  	max-width: 600px;
	  }

	  .col {
	  	text-align: center;
	  }

	  #header {
	  	font-family: 'Mountains of Christmas', cursive;
	  	font-size: 50px;
	  	text-align: center;
	  }

	  .red {
	  		color: #fb2d2c
	  }

	  .blue {
			color: #3387F6;
	  }

	  .orange {
			color: #F57919;
	  }

	  .green {
			color: #35AB33;
	  }





/*blue*/


/*orange*/


/*green*/